* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "JetBrains Mono", monospace;
  background: #f2f2f2;
  overflow: hidden;
}

.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  background: #f2f2f2;
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#barcode {
  font-family: "Libre Barcode 39";
  font-size: 23px;
  position: absolute;
  top: 40px;
  left: 5%;
}

.text-group {
  position: absolute;
  bottom: 57%;
  left: 5%;
  display: flex;
  align-items: baseline; 
}

.One {
  font-size: 50px;
  font-weight: 750;
}

.OneRight {
  font-size: 30px;
  font-weight: 900;
  margin-left: 10px; /* 두 글자 사이 간격 */
}


.borderless-start {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 5%;
  bottom: 15%;
  transition: background-color;
}

.borderless-option {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 5%;
  bottom: 10%;
  transition: background-color;
}
#underline:hover {
  text-decoration: underline;
}




#MadeBy {
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 58px;
  right: 5%;
}
#TitleImg {
  width: 20px;
  position: absolute;
  top: 37%;
  right: 5%;
}
#Warning {
  width: 100px;
  position: absolute;
  bottom: 10%;
  right: 5%;
}











#BarImg {
  width: 60px;
  position: absolute;
  top: 7%;
  left: 360px;
}

#BarImg2 {
  width: 50%;
  height: 55px;
  position: absolute;
  top: 7%;
  left: 425px;
}

#Chart {
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 5.5%;
  bottom: 54%;
  transition: background-color;
}

.scroll-container {
  height: 547px;
  width: 50%;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  top: 120px;
  left: 420px;
}
.scroll-container::-webkit-scrollbar {
  width: 8px;
}
.scroll-container::-webkit-scrollbar-track {
  background: #000000;
}
.scroll-container::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 2px solid transparent;
  background-clip: padding-box;
}
/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)----------------------------------------------------------------------------*/
@media all and (min-width:1024px) and (max-width:1279px) { 
#BarImg {
  width: 60px;
  position: absolute;
  top: 7%;
  left: 360px;
}

#BarImg2 {
  width: 50%;
  height: 55px;
  position: absolute;
  top: 7%;
  left: 425px;
}

} 

/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  #BarImg {
  width: 60px;
  position: absolute;
  top: 7%;
  left: 310px;
}

#BarImg2 {
  width: 40%;
  height: 55px;
  position: absolute;
  top: 7%;
  left: 375px;
}
.scroll-container {
  height: 547px;
  width: 40%;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  top: 120px;
  left: 370px;
}
} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  #BarImg {
  width: 60px;
  position: absolute;
  top: 7%;
  left: 280px;
}

#BarImg2 {
  width: 40%;
  height: 55px;
  position: absolute;
  top: 7%;
  left: 345px;
}
 .scroll-container {
  height: 547px;
  width: 730px;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  top: 120px;
  left: 340px;
}
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
}