* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "JetBrains Mono", monospace;
  background: #f2f2f2;
  overflow: hidden;
}

.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  background: #f2f2f2;
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#barcode {
  font-family: "Libre Barcode 39";
  font-size: 23px;
  position: absolute;
  top: 40px;
  left: 5%;
}

.text-group {
  position: absolute;
  bottom: 51%;
  left: 5%;
  display: flex;
  align-items: baseline; 
}

.One {
  font-size: 50px;
  font-weight: 750;
  
}

.OneRight {
  font-size: 30px;
  font-weight: 900;
  margin-left: 2px;
}


.borderless-start {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 5%;
  bottom: 15%;
  transition: background-color;
}

.borderless-option {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 5%;
  bottom: 10%;
  transition: background-color;
}
#underline:hover {
  text-decoration: underline;
}




#MadeBy {
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 58px;
  right: 5%;
}
#TitleImg {
  width: 20px;
  position: absolute;
  top: 37%;
  right: 5%;
}
#Warning {
  width: 100px;
  position: absolute;
  bottom: 10%;
  right: 5%;
}











.black-box {
      width: 60px;
      height: 612px;
      position: relative;
      left: 25%;
      top: 7%;
      background-color: black;
    }
.white-box {
      width: 85%;
      height: 25px;
      position: absolute;
      left: 7.5%;
      bottom: 0.8%;
      background-color: white;
    }

.user-info {
  margin-left: 15px;
}

.play-time {
  margin: 0;
  color: white;
}
.black-box2 {
      width: 715px;
      height: 60px;
      position: absolute;
      left: 29.5%;
      top: 7%;
      background-color: black;
    }























#Chart {
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 5.5%;
  bottom: 54%;
  transition: background-color;
}

.scroll-container {
  height: 547px;
  width: 50%;
  overflow-y: scroll;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  top: 122px;
  left: 420px;
}
.scroll-container::-webkit-scrollbar {
  width: 8px;
}
.scroll-container::-webkit-scrollbar-track {
  background: #000000;
}
.scroll-container::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 2px solid transparent;
  background-clip: padding-box;
}


.Music-Box {
  width: 100%;
  height: 100px;
  background-color: #000000;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  padding-left: 0px;
}
.Music-Profile {
  width: 17%;
  height: 93%;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #ffffff;
}
.Music-Name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  left: 2.5%;
  bottom: 28%;
}

.Artist{
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  left: -11%;
}













/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)----------------------------------------------------------------------------*/
@media all and (min-width:1024px) and (max-width:1279px) { 
#BarImg {
  width: 60px;
  position: absolute;
  top: 7%;
  left: 360px;
}

#BarImg2 {
  width: 50%;
  height: 55px;
  position: absolute;
  top: 7%;
  left: 425px;
}

} 

/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  #BarImg {
  width: 60px;
  position: absolute;
  top: 7%;
  left: 310px;
}

#BarImg2 {
  width: 40%;
  height: 55px;
  position: absolute;
  top: 7%;
  left: 375px;
}
.scroll-container {
  height: 547px;
  width: 40%;
  overflow-y: scroll;
  padding: 0px;
  position: absolute;
  top: 120px;
  left: 370px;
}
} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {

} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
}