* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "JetBrains Mono", monospace;
  background: #f2f2f2;
  overflow: hidden; 
}


.page-wrapper {
  position: relative;
  width: 1200px;
  height: 800px;
  transform-origin: top left;
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#barcode {
  font-family: "Libre Barcode 39";
  font-size: 23px;
  position: absolute;
  top: 40px;   
  left: 70px;
}

.One {
  font-size: 50px;
  font-weight: 750;
  position: absolute;
  top: 222px;
  left: 70px;
}

.OneRight {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 259px;
  left: 160px;
}

#TitleImg {
  width: 2%;
  position: absolute;
  top: 280px;
  right: 80px;
}

#MadeBy {
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 58px;
  right: 80px;
}
#Warning{
  width: 10%;

  position: absolute;
  bottom: 90px;
  right: 80px;
}

.borderless-start {
    background: none;       
    border: none;         
    padding: 0;           
    cursor: pointer;      
    outline: none;     
    font-size: 17px;   
    font-weight: 700;
    position: absolute;
    left: 70px;
    bottom: 120px;
    transition: background-color ;
  }
  #underline:hover {
    text-decoration: underline;
  }
  .borderless-option {
    background: none;       
    border: none;         
    padding: 0;           
    cursor: pointer;      
    outline: none;     
    font-size: 17px;   
    font-weight: 700;
    position: absolute;
    left: 70px;
    bottom: 90px;
    transition: background-color ;
  }

  #BarImg {
    width: 4%;
    position: absolute;
    top: 60px;
    left: 370px;
  }

  #BarImg2 {
    width: 50%;
    position: absolute;
    top: 60px;
    left: 420px;
  }

  
  #Chart {     
    cursor: pointer;      
    outline: none;     
    font-size: 17px;   
    font-weight: 700;
    position: absolute;
    left: 80px;
    bottom: 265px;
    transition: background-color ;
  }



  .scroll-container {
  height: 433px;
  width: 576px;
  overflow-y: scroll; 
  padding: 10px;
  position: absolute;
  top: 110px;
  left: 420px;
}
.scroll-container::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}
.scroll-container::-webkit-scrollbar-track {
  background: #000000; /* 스크롤바 배경*/

}


.scroll-container::-webkit-scrollbar-thumb {
  background: #ffffff; 

  border: 2px solid transparent;
  background-clip: padding-box;
}